@font-face {
    font-family: "mellony dry brush";
    src: url("../assets/fonts/mellony_dry_brush.woff") format("woff"), url("../assets/fonts/mellony_dry_brush.ttf") format("truetype")
}

@font-face {
    font-family: "TheHandExtrablack";
    src: url("../assets/fonts/TheHandExtrablack.woff") format("woff"), url("../assets/fonts/TheHandExtrablack.ttf") format("truetype")
}

$imgTavolo: '../assets/img/tavolo2.jpg';
$imgJapan: '../assets/img/japan.jpg';
$imgTree: '../assets/img/tree.jpg';
body {
    scroll-behavior: smooth;
}

.full-panel {
    height: 100vh;
    width: 100%;
}

#home {
    background-position: center;
    position: relative;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#copertina {
    line-height: 70px;
    text-align: end;
    font-family: 'mellony dry brush';
    padding: 15px 30px;
    color: #000;
    width: 550px;
    font-size: 150px;
    margin: 300px auto;
    text-overflow: unset;
    overflow: visible;
}

.sub_hand {
    font-family: 'TheHandExtrablack';
    font-size: 50px;
    text-align: center;
}

.sub_mellony {
    font-family: 'mellony dry brush';
    font-size: 50px;
    text-align: center;
}

