@font-face {
    font-family: "mellony dry brush";
    src: url("../assets/fonts/mellony_dry_brush.ttf") format("truetype")
}

@font-face {
    font-family: "TheHandExtrablack";
    src: url("../assets/fonts/TheHandExtrablack.woff") format("woff"), url("../assets/fonts/TheHandExtrablack.ttf") format("truetype")
}

$mainColor: #417505;
$secColor: #C3D66A;
$navColor: #F5F5F2;
$imgFogliaBigSx: '../assets/img/foglie_grandi_sx.png';
$imgFogliaBigDx: '../assets/img/foglie_grandi_dx.png';
$imgFogliaSmallSx: '../assets/img/foglia_piccola_sx.png';
$imgFogliaSmallDx: '../assets/img/foglia_piccola_dx.png';
$imgFoglia: '../assets/img/foglia.png';
$imgSposi: '../assets/img/sposi.png';
$imgTestimoni: '../assets/img/testimoni.png';
$imgSposiBG: '../assets/img/copertina_bg.png';
$imgFooterPattern: '../assets/img/footer_pattern.png';

body {
    scroll-behavior: smooth;
}

@media (min-width: 992px) {
    .show-phone {
        display: none;
    }
}

@media (max-width: 992px) {
    .show-phone {}
    #home {
        background-size: 50% 50%;
    }
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%
}

.full-width {
    width: 100%;
}

.title {
    font-family: 'mellony dry brush';
    color: $mainColor;
    font-size: 12vmin;
    z-index: 10;
}

.sub-title {
    font-family: 'TheHandExtrablack';
    color: $mainColor;
    font-size: 8vmin;
}

.full-panel {
    padding-top: 76px;
    min-height: 100vh;
    width: 100%;
    position: relative;
}

.navbar-nav {
    margin-left: auto;
    margin-right: auto;
}

nav.navbar {
    background-color: $navColor !important;
    text-align: center;
    z-index: 1000;
    text-align: center;
    .nav-item {
        margin-left: 15px;
        margin-right: 15px;
    }
    .handmade {
        font-size: 2rem;
    }
    .mellony {
        font-size: 2.5rem;
    }
}

#home {}

.bgBgSx {
    height: 100vmin;
    width: 100vmin;
    z-index: 1;
    position: absolute;
    top: 0;
    left: 0;
    background-image: url($imgFogliaBigSx);
    background-position: left top;
    background-repeat: no-repeat;
    background-size: contain;
}

.bgBgDx {
    height: 100vmin;
    width: 100vmin;
    z-index: 1;
    position: absolute;
    bottom: 0;
    right: 0;
    background-image: url($imgFogliaBigDx);
    background-position: right bottom;
    background-repeat: no-repeat;
    background-size: contain;
}

.bgSmSx {
    background-image: url($imgFogliaSmallSx);
    background-position: left center;
    background-repeat: no-repeat;
}

.bgSmDx {
    background-image: url($imgFogliaSmallDx);
    background-position: right center;
    background-repeat: no-repeat;
}

.copertina {
    z-index: 20;
    line-height: 10vmin;
    text-align: end;
    font-family: 'mellony dry brush';
    padding-top: 10vh;
    font-size: 20vmin;
    text-overflow: unset;
    overflow: visible;
    /* if we can clip, do it */
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    /* what will show through the text
      ~ or ~
     what will be the background of that element */
    background-image: url($imgSposiBG);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    /* fallback text color
      ~ or ~
     the actual color of text, so it better work on the background */
    color: $mainColor;
}

.scroll-down {
    position: absolute;
    bottom: 0px;
    margin: 0 auto;
    left: 0;
    right: 0;
    text-align: center;
}

.mellony {
    font-family: 'mellony dry brush';
}

.handmade {
    font-family: 'TheHandExtrablack';
}

.sub {
    font-size: 7vmin;
    text-align: center;
}

.map {
    width: 100%;
    height: 19rem;
}

.end {
    padding-top: 76px;
    p {
        text-align: center;
    }
    .poesia {
        font-family: 'mellony dry brush';
        color: $mainColor;
        font-size: 8vmin;
    }
}

.container-img {
    position: absolute;
    top: 0;
    z-index: 1;
    .sposi {
        background-image: url($imgSposi);
    }
    .testimoni {
        background-image: url($imgTestimoni);
    }
    .sposi,
    .testimoni {
        height: 90vmin;
        width: 90vmin;
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
    }
}

button {
    background-color: $secColor;
    border: none;
    border-radius: 5px;
    color: white;
    font-family : 'TheHandExtrablack';
    font-size: 6vmin;
    padding-bottom: 15px;
    padding-left: 15px;
    padding-right: 15px;
}

.map-detail {
    text-align: center;
}

footer.footer{
    background-image: url($imgFooterPattern);
    background-repeat: repeat;
    width: 100%;
    height: 200px;
}