<a name="sposi" id="sposi"></a>
<div class="full-panel intro">

    <div class="d-flex justify-content-center">
        <p class="title">gli sposi</p>
    </div>
    <!--Immagine di sfondo -->
    <div class="container-img full-panel d-flex justify-content-center align-items-center">
        <div class="sposi d-flex justify-content-between align-items-center">
             
                    <div class="  sub-title">Mauro</div>
                    <div class="  sub-title">Nunzia</div>
           
        </div>
    </div>
</div>