<a name="testimoni" id="testimoni"></a>
<div class="full-panel intro">
    <div class="d-flex justify-content-center">
        <p class="title">i testimoni</p>
    </div>
    <!--Immagine di sfondo -->
    <div class="container-img full-panel d-flex justify-content-center align-items-center">
        <div class="testimoni d-flex justify-content-between align-items-center">
            <div class="  sub-title">Fabio</div>
            <div class="  sub-title">Miriam</div>
        </div>
    </div>
</div>